<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

<table>
    <thead>
    <tr>
        <td>Client</td>
        <td>Cuit/DNI</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>$client.name</td>
        <td>$client.cuitDNI</td>
    </tr>
    </tbody>
</table>